*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a 
{
    color: black;
}

header
{
    width: 100%;
    height: 100vh;
    background-color: #333;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 100px;
}

nav ul li
{
    display: inline-block;
    margin: 10px 100px;
}

nav ul li a
{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tomal
{
    margin-left: 1100px;
    margin-top: -100px;
    height: 100%;
    position: relative;
}

.header-text
{
    margin-top: 10%;
    font-size:30px;
    width: 40%;
    position: absolute;
    margin-left: 15%;
}

h1
{
    color: aliceblue;
}

.header-description
{
    margin-top: 50px;
    color: aliceblue;
}

.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.education-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    width: 80%;
    justify-content: space-between;
    margin-right: 150px;
}

.education-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.major-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 120px;
}

.cgpa
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 135px;
}

h2
{
    margin-top: 30px;
    font-size: 30px;
}

.mun-logo
{
    height: 200px;
    width: 300px;
}

h3
{
    font-size: 20px;
    text-decoration: underline;
}

.major-logo
{
    height: 200px;
    width: 200px;
}

.cgpa-p
{
    font-size: 20px;
}

.skills-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    align-items: center;
}

.skills-div
{
    display: inline-block;
    margin: 10px 10px;
}

.skills-div img
{
    margin-right: 50px;
}

.contact-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.contact-div1
{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
    gap: 80px;
}

.contact-div2
{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
    gap: 80px;
}

.facebook-link
{
    transition: box-shadow 300ms ease;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border-width: 1px;
}

.facebook-link:hover 
{
    box-shadow: inset 0 0 0 20px rgba(83, 142, 209, 0.75);
    cursor: pointer;
}

.linkedIn-link
{
    transition: box-shadow 300ms ease;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border-width: 1px;
}

.linkedIn-link:hover
{
    box-shadow: inset 0 0 0 20px rgba(35, 122, 221, 0.75);
    cursor: pointer;
}

.git-link
{
    transition: box-shadow 300ms ease;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border-width: 1px;
}

.git-link:hover
{
    box-shadow: inset 0 0 0 20px rgba(38, 52, 115, 0.75);
    cursor: pointer;
}

.gmail-link
{
    transition: box-shadow 300ms ease;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border-width: 1px;
}

.gmail-link:hover
{
    box-shadow: inset 0 0 0 20px rgba(239, 26, 58, 0.75);
    cursor: pointer;
}

.mobile-link
{
    transition: box-shadow 300ms ease;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border-width: 1px;
}

.mobile-link:hover
{
    box-shadow: inset 0 0 0 20px rgba(36, 161, 72, 0.75);
    cursor: pointer;
}

